{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
	<img src="{{ current_user.avatar(80) }}" style="border-radius: 30px;"><br>
	<p style="margin: 25px 20px;">For you: <b>{{ current_user.username }}</b></p>
	<hr>
	<div style="margin: 30px;">
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>
				<p>
				{{ form.post.label }}
				</p>
				{{ form.post(cols=32, rows=4) }}
				{% for error in form.post.errors %}
				<span style="border: 1px solid red; border-radius: 15px;
					color: red; padding: 3px 6px">
					{{ error }}
				</span>
				{% endfor %}
			</p>
			<p> {{ form.submit() }}
		</form>
	<p>
	{% for post in posts %}
	<div>
	<p><strong>{{ post.author.username }}:</strong> {{ post.body }}</p>
	</div>
	{% endfor %}
	</p>
	</div>
</div>
{% endblock %}
