{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
	<a href="{{ url_for('user', username=current_user.username) }}">
		<img src="{{ current_user.avatar(80) }}" style="border-radius: 40px;
								border: 1px solid silver;">
	</a>
	<br>
	{% if form %}
	<div style="margin: 30px;">
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>
				<p>
				{{ form.post.label }}
				</p>
				{{ form.post(cols=32, rows=4, style="border-radius: 10px;
							padding: 10px;
							box-shadow: 5px 5px 10px black;") }}
				{% for error in form.post.errors %}
				<span style="border: 1px solid red; border-radius: 15px;
					color: red; padding: 3px 6px">
					{{ error }}
				</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
	</div>
	{% endif %}
	{% if posts %}
	{% if subtitle %}
	<p><b>{{ subtitle }}</b></p>
	{% else %}
	<hr>
	<p style="margin: 25px 20px;">For you & Following: <b>{{ current_user.username }}</b></p>
	{% endif %}
	<hr>
	<div style="display: inline; text-align: left">
		{% for post in posts %}
			{% include 'post_.html' %}
		{% endfor %}
	</div>
	<div>
		<p style="text-align: center">
		{% if prev_url %}
			<a href="{{ prev_url }}">
				 <button> Newer Posts </button>
			</a>
		{% endif %}	
		{% if next_url %}
			<a href="{{ next_url }}">
				 <button> Older Posts </button>
			</a>
		{% endif %}
		</p>
	</div>
	{% else %}
		<p>Welcome back. <b>Create a new post!</b></p>
	{% endif %}
	</div>
</div>
{% endblock %}
