{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
	<img src="{{ user.avatar(128) }}" style="border-radius: 64px; margin-bottom: 10px"><br>
	<p><b>User: </b> {{ user.username }}</p>
	<div>
		{% if user.about_me %}
		<p>
		{{ user.about_me }}
		</p>
		{% endif %}
		{% if user.last_seen %}
		<p>
			Last seen on: {{ user.last_seen }}
		</p>
		{% endif %}
		<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
		{% if user == current_user %}
		<p style="margin-bottom: 35px">
			<a href="{{ url_for('edit_profile') }}">Edit your profile</a>
		</p>
		{% elif not current_user.is_following(user) %}
        	<p>
            		<form action="{{ url_for('follow', username=user.username) }}" method="post">
                		{{ form.hidden_tag() }}
                		{{ form.submit(value='Follow') }}
            		</form>
        	</p>
        	{% else %}
        	<p>
            		<form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                		{{ form.hidden_tag() }}
                		{{ form.submit(value='Unfollow') }}
            		</form>
        	</p>
		{% endif %}
	</div>
	<hr>
	<b>Your Posts:</b>
	<br>
	{% if posts %}
	<div style="text-align: left; width: 50%; margin: auto">
	{% for post in posts %}
		{% include "post_.html" %}
	{% endfor %}
	</div>
	{% else %}
	<p> No post <br>
	Create a new post!
	</p>
	{% endif %}
</div>
{% endblock %}
